// Define variables for your color scheme

// For example:
$red: #FD1015;
$light-blue: #F4F9FF;
$blue: #b2cae3;
$dark-blue: #456c93;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$dark-pink: #c7497d;
$pink: #d47497;
