// Specific CSS for your home-page
.home-landing {
  background-image: url("portfolio-back.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;

  h1 {
    position: relative;
    right: 60%;
    top: 35vh;
    color: white;
    text-align: right;
  }
}

.home-landing-words {
}

.home-tools {

}

.home-interests {

}
