// Specific CSS for your home-page
.home-landing {
  background-image: url("portfolio-back.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  ul {
    width: 100vw;
    text-align: center;
  }

  li {
    color: white;
  }

  a:hover {
    color: $blue;
    text-decoration: none;
  }

  h1 {
    color: white;
    text-align: right;
  }
}

.home-landing-words {
}

.home-tools {

}

.home-interests {

}
