.project-display {
  margin: 40px;
  width: 655px;
}

.project-links {
text-align: center;
    a {
      margin-left: 24px;
      margin-right: 24px;
    }
}

.project-info {
  width: 75%;

  h3 {
    text-align: left;
  }

  div {
    padding-left: 40px;
  }
}
