<div class="home-footer">
  <ul class="social-media-icons footer-social-media-icons">
    <li><a href=""><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
    <li><a href=""><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
    <li><a href=""><i class="fab fa-linkedin" aria-hidden="true"></i></a></li>
    <li><a href=""><i class="fab fa-github" aria-hidden="true"></i></a></li>
  </ul>
  <p>Website designed and coded with ❤️ by Jessica DeWitt</p>
  <p>Pink gradient icons made by <a href="https://www.flaticon.com/authors/iconixar" title="iconixar">iconixar</a> oFn <a href="https://www.flaticon.com/" title="Flaticon">Flaticon</a></p>
</div>
