.btn-box {
  border: 1px solid $dark-blue;
  border-radius: 5px;
  padding: 8px;
  padding-left: 24px;
  padding-right: 24px;
  color: $dark-blue;

  &:hover {
    background-color: $light-blue;
    color: $dark-blue;
  }
}
