.card-projects {
  display: flex;
  // justify-content: center;
  flex-wrap: wrap;
}

.card-project {
  margin: 24px auto;
  padding: 8px;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.2);
  max-width: 750px;
}

@media (max-width: 768px) {
  .card-project {
    margin: 16px auto;
  }
}

@media (max-width: 576px) {
  .card-project {
    margin: 8px auto;
  }
}

.card-project-details {
  background-color: $light-blue;
  background-size: cover;
  position: relative;
  // border: 1px solid $dark-blue;

  img {
    width: 100%;
  }
}

.card-project-description {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
  padding: 8px;
}

.card-writing {
  background-color: white;
  // margin: 15px;
  margin: 15px auto;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  padding: 16px;
  display: flex;
  width: 70%;

  img {
    margin-right: 16px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    height: 150px;
    width: 225px;
    object-fit: cover;
  }

  i {
    // rgba for $blue
    background-color: rgba(209, 216, 233, 0.75);
    text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
    padding: 6px;
    border-radius: 50%;
    position: absolute;
    top: 8px;
    left: 8px;
    color: white;
  }

  .btn-box {
    margin-bottom: 16px;
  }
}
