.form-contact {
  margin: 0 auto;
  width: 50%;
  text-align: center;

  .btn-box {
    width: 100%;
  }
}

.form-control {
  box-shadow: 0px 0px 10px rgba(0,0,0,0.15);
  border: none !important;
}

.form-inputs {
  // margin-bottom: 40%;
}

textarea::placeholder, input::placeholder {
  // Replace Roboto
  font-family: "Oswald";
  text-decoration: inherit;
}
